.chat-main
  .main-header
    .main-header__box
      %p.main-header__box__groupname
        techcamp
      = link_to "#", class: "main-header__box__edit" do
        = "Edit"
    %p.main-header__member
      Member : masa
  .main-messages
    = render @messages

  .main-footer
    = form_with model: [@group, @message], html: {class: "new-message"}, local: true do |f|
      .input-box
        = f.text_field :content, class: "input-box__text", placeholder: "type a message"
        = f.label :image, class: "input-box__image" do
          = icon('fas', 'image')
          = f.file_field :image, class: "input-box__image__filter"
      = f.submit 'Send', class: "submit-btn"