.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__username
        = current_user.name
      %ul.side-header__box__icon-list
        %li
          = link_to new_group_path, class: "side-header__box__icon" do
            = icon('fas', 'edit')
        %li
          = link_to edit_user_path(current_user), class: "side-header__box__icon" do
            = icon('fas', 'cog', class: 'side-header__box__icon--cog')
  .side-groups
    .side-groups__box
      - current_user.groups.each do |group|
        = link_to '#' do
          %p.side-groups__box__groupname
            = group.name
          %p.side-groups__box__message
            no messages